body {
  
  font-family: "Arial", sans-serif;
  
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;
}

@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf") format("opentype");
}

.leftside {
    box-sizing: border-box;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
   
    display: flex;
    justify-content: center;
    align-items: center; 
    
  }
  
  
  

.logo-wrapper > p {
font-family: "Norse Bold";
  color: #f8f8f8;
  font-size: 7rem;
  margin: 10px 0; 
}



.logo {
  width: 100px;
  margin-right: 10px;

}

.logo-wrapper {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 2px;
    
    position: relative;
    top: -140px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
    flex-shrink: 1;
    width: 100%;
}
.herotext {
    font-weight: bold;
    font-size: 1rem;
    width: 51%;
    
}
.rightside {
    width: 65%; 
   
  }

  header , footer{
    background-color: #101010;
    width: 200px;
  }

.hero-backgroundcolor,.login-backgroundcolor {
  background-color: #F0F0F0;
  
}

/* .hero-backgroundcolor {
  padding-top: 40px;
} */

button {
  background-color:#596D48;
  color: #f8f8f8;
}

legend{
  padding-bottom: 20px;
}

