*, ::before, ::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;

}

@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf") format("opentype");
}

.leftside {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper > p {
  font-family: "Norse Bold";
  color: #f8f8f8;
  font-size: 7rem;
  margin: 10px 0;
}

.logo {
  width: 100px;
  margin-right: 10px;
}

.logo-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px;
  position: relative;
  top: -140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-shrink: 1;
  width: 100%;
}

.herotext {
  font-weight: bold;
  font-size: 1.2rem; 
  padding: 20px 40px; 
  margin-top: 100px;
  width: 89%;
}

.rightside {
  width: 65%;
  
}

header, footer {
  background-color: #101010;
  width: 15%;
}

.hero-backgroundcolor {
  background-color: #F0F0F0;
  flex: .8;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.login-backgroundcolor {
  background-color: #F0F0F0;
  flex-grow: 1;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}


.inputcontainer {
  font-size: 1rem;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  padding-left: 10px;
  
  
}

button {
  background-color: #596D48;
  color: #f8f8f8;
  width: 88%; 
  padding: 10px; 
  border: none; 
  cursor: pointer; 
  margin-top: 10px; 
  border-radius: 5px; 
  align-self: flex-start;
}

legend {
  position: relative;
  left: 40px;
  margin-top: 20px;

}

.login-wrapper {
  padding-top: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  left: 40px;
  margin-bottom: 15vh;
}

.login-wrapper p {
  margin: 10px 0; 
  
}

.login-wrapper span {
  color: blue; 
  cursor: pointer; 
  text-decoration: underline; 
}



.form-leftside > div,.form-rightside > div {
  display: flex;
  margin-bottom: 20px;
  flex-flow:row wrap;
  flex-direction: column;
}


label {
  font-size: .8rem;
  
}
 label, input {

  
 
  
  padding: 1px;
  
}
legend, .form-leftside {
  align-self: flex-start;
}

.form-leftside, .form-rightside {
  padding: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

/* .cutline {
  color: #f8f8f8;
  font-size: .6rem;
  position: relative;
  bottom: 1vh;
} */